/* root */
:root {
    /* set color */
    --main100: rgb(199,236,229);
    --main400: #68C6B5;
    --main700: #122037;
  
    --grey100: #FFFFFF;
    --grey200: #E2E2E2;
    --grey300: #C6C6C6;
    --grey400: #A8A8A8;
    --grey500: #8A8A8A;
    --grey600: #6C6C6C;
    --grey700: #4E4E4E;
    --grey800: #303030;
    --grey900: #191919;
    --black: #000000;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('https://fonts.cdnfonts.com/css/avenir');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  a, p {
    font-family: 'Pretendard', sans-serif;
    letter-spacing: -0.05em;
    line-height: 1.8em;
    word-break: keep-all;
    margin: 0;
  }
  
  header {
    background-color: white;
  }
  
  nav {
    display: flex;
  }
  
  .slide-in-from-right {
    animation: 1s ease-out 0s 1 slideInFromRight forwards;
  }
  
  .delay-3 {
    opacity: 0;
    animation-delay: 0.3s;
  }
  
  .delay-6 {
    opacity: 0;
    animation-delay: 0.6s;
  }
  
  @keyframes slideInFromRight {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
  
    80% {
        opacity: 0.5;
    }
  
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }