<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - centeripa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/centeripa.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-top">
                <a href="/">
                    <img class="logo" src="~/asset/images/logo_horizontal.png" alt="logo" width="120" height="36">
                </a>
                <div class="spacer"></div>
                <a href="#" class="login-top">
                    <span>로그인</span>
                </a>
                <a href="#" class="contact">
                    <span>가입 문의</span>
                </a>
                <select name="lang" id="lang" class="lang-top">
                    <option value="ko">KO</option>
                    <option value="en">EN</option>
                </select>
                <button class="button-open">☰</button>
            </div>

            <div class="nav-bottom" data-isShow="false">
                <div class="form">
                    <select name="lang" id="lang" class="lang-bottom">
                        <option value="ko">KO</option>
                        <option value="en">EN</option>
                    </select>
                    <a href="#" class="login-bottom">
                        <span>로그인</span>
                    </a>
                </div>
                <div class="dropdown">
                    <div class="menu">
                        <div class="arrow" data-isOpen="false">
                            <span class="arrow__open">▼</span>
                            <span class="arrow__close">▲</span>
                        </div>
                        <a href="#">센터메디컬그룹</a>
                    </div>
                    <div class="submenu submenu--hide">
                        <a href="/Home/About">소개</a>
                        <a href="#" class="last">이사회 & 협력사 보험사</a>
                    </div>
                </div>

                <div class="dropdown">
                    <div class="menu">
                        <div class="arrow__empty"></div>
                        <a href="#">가입안내</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <div class="menu">
                        <div class="arrow" data-isOpen="false">
                            <span class="arrow__open">▼</span>
                            <span class="arrow__close">▲</span>
                        </div>
                        <a href="#">의료진</a>
                    </div>
                    <div class="submenu submenu--hide">
                        <a href="#">주치의</a>
                        <a href="#">전문의</a>
                        <a href="#" class="last">보조 기관</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <div class="menu">
                        <div class="arrow" data-isOpen="false">
                            <span class="arrow__open">▼</span>
                            <span class="arrow__close">▲</span>
                        </div>
                        <a href="#">의학 정보</a>
                    </div>
                    <div class="submenu submenu--hide">
                        <a href="#" class="last">새로운 소식</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <div class="menu">
                        <div class="arrow" data-isOpen="false">
                            <span class="arrow__open">▼</span>
                            <span class="arrow__close">▲</span>
                        </div>
                        <a href="#">장학재단</a>
                    </div>
                    <div class="submenu submenu--hide">
                        <a href="#" class="last">갤러리</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="footer__left">
            <div class="brand-text__wrap">
                <p class="brand-text">
                    Center IPA<span>.</span>
                    </p>
                <p class="brand-text__sub">
                    Center IPA Medical Group & Foundation
                </p>
            </div>
            <div class="brand-desc__warp">
                <p class="brand-desc">
                    There are old age,<br>
                    but no old people<span>.</span>
                </p>
                <a href="" class="link">
                    <span>가입 문의</span>
                </a>
            </div>
        </div>
        <div class="info__wrap">
            <p class="title">Info</p>
            <p class="desc">TEL. (714) 495-4392</p>
            <p class="desc">FAX. (714) 388-3354</p>
            <p class="desc last">Monday - Friday (8:30 AM - 5:30 PM, PST)</p>

            <p class="title">Address</p>
            <p class="desc">6800 Lincoln Ave Suite 200,</p>
            <p class="desc last">Buena Park, CA 90620</p>

            <p class="title">Socials</p>
            <a class="link" href="">Youtube</a>
            <a class="link" href="">Linkedin</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const bottomNav = document.querySelector('.nav-bottom');
        const openButton = document.querySelector('.button-open');

        const dropdowns = document.querySelectorAll('.dropdown');

        openButton.addEventListener('click', () => {
            const isShow = bottomNav.dataset.isshow;
            if (isShow == "true") {
                bottomNav.dataset.isshow = "false";
                bottomNav.classList.remove('nav-bottom--show');
                bottomNav.classList.add('nav-bottom--hide');
            } else {
                bottomNav.dataset.isshow = "true";
                bottomNav.classList.remove('nav-bottom--hide');
                bottomNav.classList.add('nav-bottom--show');
            }
        });

        const arrowButtons = document.querySelectorAll('.arrow');
        const submenus = document.querySelectorAll('.submenu');

        arrowButtons.forEach((arrowButton, index) => {
            arrowButton.addEventListener('click', () => {
                const isOpen = arrowButton.dataset.isopen;
                if (isOpen == "true") {
                    arrowButton.dataset.isopen = "false";
                    arrowButton.querySelector('.arrow__open').style.display = 'inline';
                    arrowButton.querySelector('.arrow__close').style.display = 'none';
                    submenus[index].classList.remove('submenu--show');
                    submenus[index].classList.add('submenu--hide');
                } else {
                    arrowButton.dataset.isopen = "true";
                    arrowButton.querySelector('.arrow__open').style.display = 'none';
                    arrowButton.querySelector('.arrow__close').style.display = 'inline';
                    submenus[index].classList.remove('submenu--hide');
                    submenus[index].classList.add('submenu--show');
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

