/* Error: Undefined mixin.
 *    ,
 * 25 | /     @include mobile {
 * 26 | |         padding: 40px 20px 40px 20px;
 * 27 | | 
 * 28 | |         > .title {
 * 29 | |             width: 300px;
 * 30 | |             font-size: 28px;
 * 31 | |             letter-spacing: 0;
 * 32 | |             line-height: 1.5em;
 * 33 | |             align-self: flex-start;
 * 34 | |             text-align: left;
 * 35 | |         }
 * 36 | \     }
 *    '
 *   scss/Home/Index/benefit.scss 25:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 25 \2502  \250c      @include mobile {\a 26 \2502  \2502          padding: 40px 20px 40px 20px;\a 27 \2502  \2502  \a 28 \2502  \2502          > .title {\a 29 \2502  \2502              width: 300px;\a 30 \2502  \2502              font-size: 28px;\a 31 \2502  \2502              letter-spacing: 0;\a 32 \2502  \2502              line-height: 1.5em;\a 33 \2502  \2502              align-self: flex-start;\a 34 \2502  \2502              text-align: left;\a 35 \2502  \2502          }\a 36 \2502  \2514      }\a    \2575 \a   scss/Home/Index/benefit.scss 25:5  root stylesheet";
}
