h2 {
    color: red;
}

.banner__main {
    position: relative;
    height: 500px;

    > .banner__main__content {
        position: absolute;
        top: 60px;
        left: 50%;
    }
}

.banner__main__img {
    position: relative;
    height: 100%;

    > img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    > .black__cover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2e2e2e;
        opacity: 0.4;
        font-size: 40px;
    }
}

.banner__main__content {
    color: white;

    > p:nth-child(1) {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 10px;
    }

    > p:nth-child(2) {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    > p:nth-child(3) {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 40px;
    }

    > p:nth-child(4) {
        font-size: 70px;
        line-height: 70px;
    }

    > p:nth-child(5) {
        font-size: 30px;
        line-height: 30px;
        color: var(--main100);
        margin-bottom: 30px;
    }

    > .doctor-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        width: 260px;
        height: 60px;
        transition: 0.5s;
        

        > span {
            font-size: 20px;
            line-height: 20px;
            color: white;
        }

        &:hover {
            background-color: var(--main400);
            border: none;
        }
    }
}

.test-container {
    margin-left: 200px;
}