h2 {
    color: red;
}

.banner__main {
    position: relative;
    height: 500px;

    > .banner__main__content {
        position: absolute;
        top: 60px;
        left: 50%;
    }
}

.banner__main__img {
    position: relative;
    height: 100%;
    overflow: hidden;
    transform: scale(1.1);

    > img{
        position: absolute;
        left: -10%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    > .black__cover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2e2e2e;
        opacity: 0.4;
        font-size: 40px;
    }
}

.banner__main__content {
    color: white;

    > p:nth-child(1) {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    > p:nth-child(2) {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    > p:nth-child(3) {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 50px;
    }

    > .title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 6px;
    }

    > .sub-title {
        font-size: 30px;
        line-height: 30px;
        color: var(--main100);
        margin-bottom: 50px;
    }

    > .doctor-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        width: 200px;
        height: 50px;
        transition: 0.5s;
        

        > span {
            font-size: 20px;
            line-height: 20px;
            color: white;
        }

        &:hover {
            background-color: var(--main400);
            border: none;
        }
    }
}

.grid-desc__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px 1fr;
    width: 100%;
    padding: 50px 100px 50px 100px;;
    background-color: white;

    > .underline {
        width: 100%;
        height: 1px;
        background-color: #ddd;
    }
}

.grid-desc__item {
    display: flex;
    flex-direction: column;
    width: 80%;

    > .title__big {
        font-size: 40px;
    }

    > .icon {
        margin-bottom: 20px;
    }

    > .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;

        > span {
            color: var(--main400);
        }
    }

    > .desc {

    }
}

.test-container {
    margin-left: 200px;
}

.background {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    object-fit: cover;
}

.transparent-desc__wrap {
    padding: 80px 100px 80px 100px;
}

.transparent-desc__item {
    width: 40%;
    color: white;

    &.right {
        position: relative;
        left: 50%;
    }

    > .title {
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 20px;
    }

    > .desc__big {
        width: 150px;
        font-size: 18px;
        font-weight: lighter;
    }

    > .underline {
        width: 50%;
        height: 1px;
        background-color: white;
        margin-bottom: 20px;
    }

    > .desc__small {
        width: 50%;
        font-size: 16px;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    > .link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        width: 160px;
        height: 50px;
        transition: 0.5s;

        > span {
            font-size: 18px;
            line-height: 18px;
            color: white;
        }

        &:hover {
            background-color: var(--main400);
            border: none;
        }
    }
}