.grid-desc__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding: 50px 100px 50px 100px;;
    background-color: white;

    @include tablet {
        padding: 50px 20px 50px 20px;
    }

    @include mobile {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 20px 0 20px 0;
    }
}

.grid-desc__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10% 0 10%;

    > .title__big {
        font-family: 'Questrial', sans-serif;
        letter-spacing: normal;
        font-size: 40px;
        line-height: 1.2em;

        > span {
            color: var(--main400);
        }
    }

    > .icon {
        margin-bottom: 30px;
    }

    > .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.15em;

        > span {
            color: var(--main400);
        }
    }

    > .desc {
        line-height: 1.6em;
        font-weight: 300;
        color: var(--grey700);
    }

    padding-top: 40px;

    @include desktop {
        &.bottom-line {
            padding-bottom: 40px;
            border-bottom: 1px solid #ddd;
        }

        &.right-line {
            border-right: 1px solid #ddd;
        }
    }

    @include tablet {
        &.bottom-line {
            padding-bottom: 40px;
            border-bottom: 1px solid #ddd;
        }

        &.right-line {
            border-right: 1px solid #ddd;
        }
    }
}

@include mobile {
    .grid-desc__wrap {
        padding-bottom: 0;
    }

    .grid-desc__item {
        width: 100%;
        padding: 30px;
        border-bottom: 1px solid #ddd;
    
        > .title__big {
            letter-spacing: normal;
            font-size: 30px;
        }
    
        > .icon {
            margin-bottom: 20px;
        }
    
        > .title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            line-height: normal;
            color: var(--grey900);
    
            > span {
                color: var(--main400);
            }
        }
    
        > .desc {
            line-height: 1.6em;
            font-weight: 300;
        }
    }
}