/* Error: Undefined mixin.
 *    ,
 * 14 | /     @include tablet {
 * 15 | |         padding: 20px 40px 20px 40px;
 * 16 | \     }
 *    '
 *   scss/Home/Member/member.scss 14:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 14 \2502  \250c      @include tablet {\a 15 \2502  \2502          padding: 20px 40px 20px 40px;\a 16 \2502  \2514      }\a    \2575 \a   scss/Home/Member/member.scss 14:5  root stylesheet";
}
