@import "../styleGuide.scss";

.layout__wrap {
    display: flex;
    width: 100%;
}

.sub-nav {
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    width: 300px;
}

.sub-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-top: 1px solid #ccc;
    text-decoration: none;
    color: $grey900;
    
    &:last-child {
        border-bottom: 1px solid #ccc;
    }
    
    > span {
        font-size: 16px;
    }

    &.active {
        > span {
            color: $main400;
        }
    }
}

.main__wrap {
    width: 100%;
}