<main>
    <section class="section-1">
        <p class="title">메디케어 가입 조건</p>
        <div>
            <p>65세 이상의 고령자 중,</p>
            <ul>
                <li>사회보장연금(Social Security) 혹은, 철도은퇴연금 수혜 자격이 되는 사람.</li>
                <li>배우자 혹은, 전 배우자의 사회보장 혜택을 통해 메디케어를 수혜할 수도 있습니다.</li>
            </ul>
        </div>
        <div>
            <p>65세 미만의 성인 중,</p>
            <ul>
                <li>사회보장 장애인 혜택을 2년 동안 받아온 사람.</li>
                <li>사회보장 장애인 혜택 수혜 자격이 되며, 루게릭병(ALS)이나 말기신장질환(ESRD)를 앓고 있는 사람.</li>
            </ul>

        </div>
        <div class="underline"></div>

        <div>
            <p>메디케어 어드밴티지 플랜 가입 조건</p>
            <ol>
                <li>파트 A와 파트 B를 모두 소지하고 있으며,</li>
                <li>플랜의 서비스 지역에 거주하며,</li>
                <li>미국 시민이거나 미국에 합법적으로 거주하는 사람.</li>
            </ol>
            <p>위 3가지 조건을 충족한다면 파트 C 메디케어 어드밴티지 플랜에 가입하실 수 있습니다.</p>
        </div>
        <div>
            <p>본인이 말기신장질환(ESRD)을 앓고 있다면 어떻게 됩니까?</p>

            <ol>
                <li>ESRD가 있는 경우 1월 1일부터 시작되는 보장을 위해 공식 가입 기간(10월 15일~12월 7일) 동안,</li>
                <li>최초 메디케어 자격이 있는 최초 가입 기간 동안,</li>
                <li>또는 자격이 있는 경우 특별 가입 기간 동안 메디케어 어드밴티지 플랜에 가입하실 수 있습니다.</li>
            </ol>

        </div>
        <P>메디케어 어드밴티지 플랜 유형이 다양하므로, 더 많은 정보가 필요하실 경우 보험 에이전트와 상담을 통해 도움을 받으시길 추천드립니다.</P>
    </section>

    <section class="section-2">
        <p>65세 이상 메디케어 수혜자라면 누구든 센터메디컬그룹에 가입할 수 있습니다.</p>
        <p>65+</p>
        <p>파트 A와 B를 모두 소지한 65세 이상 메디케어 수혜자</p>

        <p>Disabilities</p>
        <p>특정한 장애를 가지고 계시다면 ​나이에 관계 없이 가입 가능</p>
    </section>
    
    <section class="section-3">
        <p>가입 방법</p>
        <p>아래 3가지 문의처를 통해 상세히 안내받으실 수 있습니다.</p>
        <p>기타 문의 사항이 있으실 경우, 무료 전화번호 (123) 123-1234로 연락 주시기 바랍니다.</p>

        <div>
            <div>
                <p>주치의 (PCP)</p>
            </div>
            <div>
                <p>보험사 고객센터</p>
            </div>
            <div>
                <p>보험 에이전트</p>
            </div>
        </div>
    </section>

    <section class="section-3">
        <p class="title">가입 혜택</p>
        <p class="subtitle">센터메디컬그룹만의 차별화된 혜택을 경험해 보세요.</p>

        <div class="item__wrap">
            <div class="item">
                <img src="" alt="">
                <p class="title">
                    시니어 전문 의료 네트워크
                </p>
                <p class="subtitle">
                    센터메디컬은 미국에서 유일하게 한인 시니어 전문 메디케어 HMO 네트워크를 구축하고 있습니다. 2,000명이 넘는 우수한 실력의 의사와 다양한 분야의 의료진들이 고객 여러분의 건강을 지켜드리겠습니다.
                </p>
            </div>
            <div class="item">
                <img src="" alt="">
                <p class="title">
                    초고속 당일 병원 허가서 승인
                </p>
                <p class="subtitle">
                    신속한 검사와 진단을 통해 질병을 조기 발견하여 예방 및 치료하기 위해서는 신속한 리퍼럴(referral) 시스템이 매우 중요합니다. 미국에서 가장 빠른 리퍼럴 시스템과 승인 절차를 통해 신속한 치료를 제공해 드리고 있습니다
                </p>
            </div>
            <div class="item">
                <img src="" alt="">
                <p class="title">무료 병원 라이드 서비스</p>
                <p class="subtitle">
                    한인 시니어 분들께 편안한 서비스를 제공하기 위해 센터메디컬그룹은 LA와 OC에 자체 차량을 두고 무료 셔틀 이동 서비스를 제공하고 있습니다. 센터메디컬그룹 전속 한국인 기사분들이 친절하게 병원까지 모셔다드립니다.
                </p>
            </div>
            <div class="item">
                <img src="" alt="">
                <p class="title">남가주 최다 입원 가능한 대형 병원</p>
                <p class="subtitle">
                    Cedars-Sinai, 할리우드 장로병원, 굿 사마리탄, 토랜스 메모리얼 병원 등 80여 곳이 넘는 병원에서 편안하게 수술 및 입원치료를 받으실 수 있습니다. 특정 병원과 제휴를 맺지 않은 센터메디컬만의 특장점입니다.
                </p>
            </div>
            <div class="item">
                <img src="" alt="">
                <p class="title">기존 메디케어보다 더 많은 혜택</p>
                <p class="subtitle">
                    의약품, 치과 진료, 시력, 한방 침술, 헬스클럽 등 매년 더욱 강화되는 의료 보장성을 통해 고객 여러분들의 슬기로운 시니어 건강생활을 지원하기 위해 노력하고 있습니다.
                </p>
            </div>
        </div>
    </section>
</main>