@import "./section-1.scss";
@import "./section-2.scss";
@import "./section-3.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100%;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}