@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Home/banner-main.css" />
    <link rel="stylesheet" href="~/css/Home/grid-desc.css" />
    <link rel="stylesheet" href="~/css/Home/transparent-desc.css" />
    <link rel="stylesheet" href="~/css/Home/benefit.css" />
    <link rel="stylesheet" href="~/css/Home/Index.css" />
}

<div class="wrapper">
    <div class="banner__main">
        <div class="banner__main__img">
            <img src="~/asset/banner_main.jpg" class="image scroll-transform__horizontal" />
            <div class="black__cover"></div>
        </div>
        <div class="banner__main__content">
            <p>No.1</p>
            <p>한인 시니어 전문</p>
            <p>메디케어 HMO 네트워크</p>
            <p class="title mobile-hide">센터메디컬그룹</p>
            <p class="sub-title mobile-hide">Center IPA Medical Group</p>
            <a href="/doctor" class="doctor-link mobile-hide">
                <span>의료진 살펴보기</span>
            </a>
        </div>
    </div>
    <div class="banner-content__sub">
        <p class="title">센터메니컬그룹</p>
        <p class="subtitle">Center IPA Medical Group</p>
        <a href="/doctor" class="doctor-link">
            <span>의료진 살펴보기</span>
        </a>
    </div>

    <div class="grid-desc__wrap">
        <div class="grid-desc__item underline-descktop">
            <p class="title__big">
                Why Choose Us<span>.</span>
            </p>
        </div>
        <div class="grid-desc__item underline-descktop">
            <img
                width="64"
                height="64"
                class="icon"
                src="~/asset/icons/ic_desc_1.png"
                alt="icon1"
            >
            <p class="title">
                지정 병원 <span>No,</span><br>
                가주 내 80개 이상 병원 <span>Yes!</span>
            </p>
            <p class="desc">
                각 헬스플랜과 계약된 모든 병원을 제한없이 이용하실 수 있습니다.
            </p>
        </div>
        <div class="grid-desc__item">
            <img
                width="64"
                height="64"
                class="icon"
                src="~/asset/icons/ic_desc_2.png"
                alt="icon2"
            >
            <p class="title">
                <span>3,000+</span> 남가주 최다 의료진 네트워크
            </p>
            <p class="desc">
                70여 명의 주치의와 2,000여 명의 전문의, 이외 보조 기관까지 3,000명 이상의 우수한 의료진들이 협력하여 여러분의 노후 건강을 책임집니다.
            </p>
        </div>
        <div class="grid-desc__item">
            <img
                width="64"
                height="64"
                class="icon"
                src="~/asset/icons/ic_desc_3.png"
                alt="icon3"
            >
            <p class="title">
                직영 내과 <span>Center MEDICAL CLINIC</span> 개원
            </p>
            <p class="desc">
                Fullerton, OC에 최초로 개원한 직영 내과 '센터메디컬클리닉'은 무성의 진료가 공공연해진 의료 생태계의 문제점을 개선하고자 각 환자마다 최소 30분 이상 꼼꼼히 진찰하여 숨은 병을 놓치는 사태를 예방하기 위해 힘쓰고 있습니다.
            </p>
        </div>
    </div>

    <img
        class="background scroll-transform__vertical"
        src="~/asset/home_background.webp"
        alt="background"
    >
    <div class="transparent-desc__wrap">
        <img
            class="desc-background"
            src="~/asset/home_background.webp"
            alt="background"
        >
        <div class="transparent-desc__item">
            <p class="title">
                시니어 건강의 시작,<br>
                100세 시대의 든든한<br>
                동반자가 되어드립니다.
            </p>
        </div>
        <div class="transparent-desc__item right">
            <div class="underline"></div>
            <p class="desc__small appear-left">
                우리 회사가 궁극적으로 이루고자 하는 목표, 100세 시대가 도래한 만큼 노인이 단순히 '오래'만 사는 것이 아닌 질 높고 건강한 삶을 '평생' 유지할 수 있도록 돕는 센터메디컬그룹 비즈니스의 방향성에 대한 설명이 들어가면 좋을 것 같습니다.
            </p>
            <a href="/introduce" class="link appear-left delay-3">
                <span>Read More</span>
            </a>
        </div>

    </div>
    <div class="benefit__wrap">
        <div class="benefit__wrap__background">
            <img src="~/asset/benefit_background.webp" class="image scroll-transform__horizontal" />
            <div class="black__cover"></div>
        </div>
        <p class="title">
            매해 더 든든해지는 <span>센터메디컬그룹</span>만의 건강보험 혜택
        </p>

        <div class="benefit-card__wrap">
            <a class="benefit-card" href="#">
                <p class="title">시니어 전문 의료 네트워크</p>
                <img class="arrow" src="~/asset/icons/ic_right_arrow.svg" alt="right arrow" width="32" height="32">
            </a>
            <a class="benefit-card" href="#">
                <p class="title">초고선 당일 병원 허가서 승인</p>
                <img class="arrow" src="~/asset/icons/ic_right_arrow.svg" alt="right arrow" width="32" height="32">
            </a>
            <a class="benefit-card" href="#">
                <p class="title">무료 병원 라이드 서비스</p>
                <img class="arrow" src="~/asset/icons/ic_right_arrow.svg" alt="right arrow" width="32" height="32">
            </a>
            <a class="benefit-card" href="#">
                <p class="title">남가주 최다 입원 가능한 대형 병원</p>
                <img class="arrow" src="~/asset/icons/ic_right_arrow.svg" alt="right arrow" width="32" height="32">
            </a>
            <a class="benefit-card" href="#">
                <p class="title">기존 메디케어보다 더 많은 혜택</p>
                <img class="arrow" src="~/asset/icons/ic_right_arrow.svg" alt="right arrow" width="32" height="32">
            </a>
        </div>
    </div>
    <div class="news__wrap">
        <div class="news__header">
            <div class="title__wrap">
                <p class="title">Today's News</p>
                <p class="desc">
                    <새로운 소식> 메뉴와 연동한 섹션으로<br>
                    ​최신 기사 및 소식들을 요약하여 보여줍니다.
                </p>
            </div>
            <a href="/news" class="link">
                <span>View More</span>
            </a>
        </div>
        <div class="news__content__wrap">

        </div>
    </div>
    <div class="banner-sub__wrap">
        <div class="banner-sub__background">
            <img src="~/asset/banner_sub.webp" class="image scroll-transform__horizontal" />
            <div class="black__cover"></div>
        </div>
        <div class="banner-sub">
            <p class="title">
                가능성으로 채워질 당신의 노후,<br>
                센터메디컬이 함께합니다.
            </p>
            <p class="desc">
                희망찬 노후를 기대할 수 있다는<br>
                헤딩 문구를 배치하면 좋을 것 같습니다.<br>
                ​(위는 예시입니다)
            </p>
        </div>
    </div>
</div>

