@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Home/Index.css" />
}

<div class="container">
    <div class="banner__main">
        <img src="~/asset/banner_main.webp" class="image" />
    </div>
    <h2>aaa</h2>
</div>

