@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Home/Index.css" />
}

<div class="wrapper">
    <div class="banner__main">
        <div class="banner__main__img">
            <img src="~/asset/banner_main.webp" class="image scroll-transform" />
            <div class="black__cover"></div>
        </div>
        <div class="banner__main__content ">
            <p>No.1</p>
            <p>한인 시니어 전문</p>
            <p>메디케어 HMO 네트워크</p>
            <p class="title">센터메디컬그룹</p>
            <p class="sub-title">Center IPA Medical Group</p>
            <a href="/doctor" class="doctor-link">
                <span>의료진 살펴보기</span>
            </a>
        </div>
    </div>

    <div class="grid-desc__wrap">
        <div class="grid-desc__item">
            <p class="title__big">
                Why Choose Us
            </p>
        </div>
        <div class="grid-desc__item">
            <img
                width="64"
                height="64"
                class="icon"
                src="~/asset/icons/ic_desc_1.png"
                alt="icon1"
            >
            <p class="title">
                지정 병원<span>No,</span><br>
                가주 내 80개 이상 병원<span>Yes!</span>
            </p>
            <p class="desc">
                각 헬스플랜과 계약된 모든 병원을 제한없이 이용하실 수 있습니다.
            </p>
        </div>
        <div class="underline"></div>
        <div class="underline"></div> 
        <div class="grid-desc__item">
            <img
                width="64"
                height="64"
                class="icon"
                src="~/asset/icons/ic_desc_2.png"
                alt="icon2"
            >
            <p class="title">
                <span>3,000+</span>남가주 최다 의료진 네트워크
            </p>
            <p class="desc">
                70여 명의 주치의와 2,000여 명의 전문의, 이외 보조 기관까지 3,000명 이상의 우수한 의료진들이 협력하여 여러분의 노후 건강을 책임집니다.
            </p>
        </div>
        <div class="grid-desc__item">
            <img
                width="64"
                height="64"
                class="icon"
                src="~/asset/icons/ic_desc_3.png"
                alt="icon3"
            >
            <p class="title">
                직영 내과 <span>Center MEDICAL CLINIC</span> 개원
            </p>
            <p class="desc">
                Fullerton, OC에 최초로 개원한 직영 내과 '센터메디컬클리닉'은 무성의 진료가 공공연해진 의료 생태계의 문제점을 개선하고자 각 환자마다 최소 30분 이상 꼼꼼히 진찰하여 숨은 병을 놓치는 사태를 예방하기 위해 힘쓰고 있습니다.
            </p>
        </div>
    </div>
    <div class="test-container">
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1>aaaaaa</h1>
        <h1 class="appear-left">aaaaaa</h1>
        <h2>aaa</h2>
    </div>
</div>

