@{
    ViewData["Title"] = "이사회 및 협력 보험사";
    List<dynamic> list = new List<dynamic>();
    list.Add(new { title = "CEO", name = "Chris Lee, M.D. | 이익준", history = "약력 설명", image = "1" });
    list.Add(new { title = "CEO", name = "Joseph Park, M.D. | 박항", history = "약력 설명", image = "2" });
    list.Add(new { title = "CEO", name = "Woosung Ahn, M.D. | 안우성", history = "약력 설명", image = "1" });
    list.Add(new { title = "CEO", name = "Yenny, M.D. | 김예은", history = "약력 설명", image = "1" });
    list.Add(new { title = "CEO", name = "KimKim, M.D. | 김예은", history = "약력 설명", image = "1" });

    String imagePath = "/asset/images/members/img_member_";
    String imageExt = ".webp";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Home/Member/index.css" />
}

<div class="wrapper">
    <div class="section_1">
        <p class="title">이사회 구성원</p>

        <div class="member__wrap">
            @foreach (var item in list)
            {
                <div class="item">
                    <div class="image">
                        <img src="@imagePath@(item.image)@imageExt" />
                    </div>
                    <p class="title">@item.title</p>
                    <p class="name">@item.name</p>
                    <p class="history">@item.history</p>
                </div>        
            }
        </div>
    </div>

    <div class="insurance__wrap">
        <p class="title">협력 보험사</p>
        <p class="sub-title">
            아래 메디케어 보험사들은 센터메디컬그룹과 계약되어 있습니다.
        </p>

        <div class="logo__wrap">
            <a href="#" class="link">
                <img class="logo" src="~/asset/images/insurance/central_health.webp" alt="logo">
            </a>
            <a href="#" class="link">
                <img class="logo" src="~/asset/images/insurance/center_ipa.webp" alt="logo">
            </a>
            <a href="#" class="link">
                <img class="logo" src="~/asset/images/insurance/center_ipa.webp" alt="logo">
            </a>
            <a href="#" class="link">
                <img class="logo" src="~/asset/images/insurance/center_ipa.webp" alt="logo">
            </a>
            <a href="#" class="link">
                <img class="logo" src="~/asset/images/insurance/center_ipa.webp" alt="logo">
            </a>
            <a href="#" class="link">
                <img class="logo" src="~/asset/images/insurance/center_ipa.webp" alt="logo">
            </a>
            <a href="#" class="link">
                <img class="logo" src="~/asset/images/insurance/center_ipa.webp" alt="logo">
            </a>
        </div>
    </div>
</div>