@media screen and (min-width: 769px) {
  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 100px 0 100px;
  }
  .nav-top {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
  }
  .nav-top > .spacer {
    flex: 1;
  }
  .nav-bottom {
    width: 100%;
    display: flex;
  }
  .login-bottom {
    display: none;
  }
  .lang-bottom {
    display: none;
  }
  .dropdown {
    display: flex;
    width: 130px;
    font-size: 12px;
    line-height: 14px;
  }
  .menu {
    display: block;
    padding: 10px 4px 10px 4px;
    width: 130px;
    height: 40px;
    border-top: 1px solid var(--grey300);
    color: #000;
    text-decoration: none;
    text-align: center;
  }
  .menu > .arrow {
    display: none;
  }
  .menu:hover {
    border-top: 2px solid var(--main400);
    padding-top: 9px;
    color: var(--main400);
  }
  .menu > a {
    color: #000;
    text-decoration: none;
    text-align: center;
  }
  .submenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    z-index: 11;
  }
  .submenu > .last {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .submenu > a {
    display: block;
    width: 130px;
    height: 40px;
    padding: 10px;
    color: #000;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid var(--grey300);
    background-color: var(--grey100);
  }
  .submenu > a:hover {
    border-top: 2px solid var(--main400);
    padding-top: 9px;
    color: var(--main400);
  }
  .dropdown:hover .submenu {
    display: flex;
  }
  .button-open {
    display: block;
  }
  .button-open {
    display: none;
  }
  .button-close {
    display: none;
  }
  .arrow {
    /* display: none; */
  }
}
@media (max-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
  }
  .nav-top {
    display: flex;
    width: 100%;
  }
  .nav-top > .spacer {
    flex: 1;
  }
  .nav-top > .logo {
    width: 120px;
    height: 36px;
  }
  .nav-top > .login-top {
    display: none;
  }
  .nav-top > .lang-top {
    display: none;
  }
  .nav-top > .contact {
    text-decoration: none;
    color: var(--main400);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 20px 0 20px;
    border: 2px solid var(--main400);
    border-radius: 100px;
    margin-right: 12px;
  }
  .nav-top > .contact > span {
    font-size: 14px;
  }
  .button-open {
    z-index: 21;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main400);
    border-radius: 100px;
    color: var(--grey100);
    padding: 0;
    font-size: 30px;
    width: 36px;
    height: 36px;
    outline: none;
    border: none;
  }
  .nav-bottom {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 11;
    flex-direction: column;
    width: 100%;
    background-color: var(--grey900);
  }
  .nav-bottom--hide {
    display: none;
  }
  .nav-bottom--show {
    display: flex;
  }
  .form {
    display: flex;
  }
  .menu {
    display: flex;
    color: white;
    padding: 10px 30px 10px 30px;
  }
  .menu > a {
    display: block;
    flex: 1;
    color: var(--grey100);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
  }
  .arrow {
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
  .arrow > .arrow__open {
    display: inline;
  }
  .arrow > .arrow__close {
    display: none;
  }
  .arrow__empty {
    display: block;
    width: 36px;
  }
  .submenu > a {
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
    color: var(--grey100);
    text-decoration: none;
    text-align: center;
    background-color: var(--grey900);
    padding: 10px 30px 10px 62px;
  }
  .submenu--hide {
    display: none;
  }
  .submenu--show {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--grey900);
  }
}
.footer {
  background-color: var(--main700);
  color: var(--grey100);
  display: flex;
  height: 400px;
  justify-content: space-between;
  padding: 60px 100px 60px 100px;
}

.footer p {
  font-family: "Questrial", sans-serif;
  letter-spacing: normal;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-text__wrap > .brand-text {
  line-height: 1.2em;
  font-size: 36px;
}
.brand-text__wrap > .brand-text > span {
  color: var(--main400);
}
.brand-text__wrap > .brand-text__sub {
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  color: var(--grey300);
}

.brand-desc__warp > .brand-desc {
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 20px;
}
.brand-desc__warp > .link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 120px;
  height: 40px;
  transition: 0.5s;
}
.brand-desc__warp > .link > span {
  font-size: 18px;
  line-height: 1.2em;
  color: white;
}
.brand-desc__warp > .link:hover {
  background-color: var(--main400);
  border: none;
}

.info__wrap {
  margin-right: 200px;
}
.info__wrap > .title {
  font-size: 18px;
  color: var(--main400);
}
.info__wrap > .desc {
  font-size: 14px;
  color: var(--grey300);
}
.info__wrap > .desc.last {
  margin-bottom: 20px;
}
.info__wrap > .link {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  color: var(--grey300);
}

/*# sourceMappingURL=Layout.css.map */
